body
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #333;
}
p{
	font-family: "Arial"
}
.field
{
	width: 65%;
	min-height: 400px;
	background: lightblue;
	display: flex;
	flex-direction: column;
	
}
.textarea
{
	width: 65%;
	height: 15%;
	margin: auto;

}
.myMessage
{
	width: 100%;
	font-size: 12;
}
.anotherMessage
{
	width: 100%;
	text-align: left;
}
.myLogin
{
	color: blue;
	font-weight: 700;
}
.anotherLogin
{
	color: green;
}
.fieldBlock
{
	width: 70%;
	border: 1px solid blue;
	border-radius: 30px 30px 30px 10px;
	background: radial-gradient(#64e6c8, #f4f2eb);
	padding: 1%;
	margin: 10px;
}
/*стиль для логина чужого сообщения*/
.fieldBlock p:first-child{
	color: green;
	font-weight: 700;
}
/*стиль для текста чужого сообщения*/
.fieldBlock p:nth-child(2n){

}
/*стиль для даты чужого сообщения*/
.fieldBlock p:last-child {
	color: blue;
	font-size: 10px;
	text-align: right;
}
.myFieldBlock
{
	width: 51%;
	border: 1px solid blue;
	border-radius: 30px 30px 10px 30px;
	background: radial-gradient(#4fefaf, #abcdef);
	align-self: self-end;
	padding: 5px;
	margin: 10px;

}
.date
{
	color: blue;
	font-size: 10px;
	text-align: right;
}
.printField
{
	width: 20px,
	height: 10px;
	border: solid 2px red;
}
.printFieldActive
{

}