@import "profile/profile.css";
body
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #333;
}
p{
	font-family: "Arial"
}
.field
{
	width: 65%;
	min-height: 400px;
	background: lightblue;
	display: flex;
	flex-direction: column;
	position: relative;
	
}
.textarea
{
	width: 65%;
	height: 15%;
	margin: auto;
	box-sizing: border-box;
	background: linear-gradient(#64e6c8, #f4f2eb);
	border: none;
	outline: none;
	border: 4px ridge lightblue;


}
.myMessage
{
	width: 100%;
	font-size: 12;
}
.anotherMessage
{
	width: 100%;
	text-align: left;
}
.myLogin
{
	color: blue;
	font-weight: 700;
}
.anotherLogin
{
	color: green;
}
.fieldBlock
{
	width: 70%;
	border: 1px solid blue;
	border-radius: 14px 14px 14px 0px;
	background: radial-gradient(#64e6c8, #f4f2eb);
	padding: 1%;
	margin: 10px;
}
/*стиль для логина чужого сообщения*/
.fieldBlock p:first-child{
	color: green;
	font-weight: 700;
}
/*стиль для текста чужого сообщения*/
.fieldBlock p:nth-child(2n){

}
/*стиль для даты чужого сообщения*/
.fieldBlock p:last-child {
	color: #8000ff;
	font-size: 7px;
	text-align: right;
}
.myFieldBlock
{
	width: 51%;
	border: 1px solid blue;
	border-radius: 14px 14px 14px 0px;
	background: radial-gradient(#4fefaf, #abcdef);
	align-self: self-end;
	padding: 5px;
	margin: 10px;
}
/*стиль для логина своего сообщения*/
.myFieldBlock p:first-child{
	color: #2511b3;
	font-weight: 700;
}
/*стиль для текста своего сообщения*/
.myFieldBlock p:nth-child(2n){

}
/*стиль для даты своего сообщения*/
.myFieldBlock p:last-child {
	color: #8000ff;
	font-size: 7px;
	text-align: right;
}
.date
{
	color: blue;
	font-size: 10px;
	text-align: right;
}
.printField
{
	width: 20px,
	height: 10px;
	border: solid 2px red;
}
.modalBlock
{
	position: fixed;
	top: 0;
	/*left: 30%;*/
	border: 1px solid blue;
	/*border-radius: 30px 30px 10px 30px;*/
	background: radial-gradient(#4ef0afd4, #abcdefba);
	width: 100%;
	height: 100px;	
	padding: 100vh;
	box-sizing: border-box;
	z-index: 1;
}
.modWin
{
	max-height: 400px;
	max-width: 400px;
	position: fixed;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	border: 3px solid #91a0c4;
	box-sizing: border-box;
	border-radius: 5px;
	background: radial-gradient(#00f895, #2d85dc);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
}

.modPrgr
{
	display: block;
	color: #fff;
	z-index: 3;
	margin-bottom: 5px;
}
.modBtn
{
	height: 30px;
	width: 30px;
	top: 13px;
	border-radius: 5px;
	background: #3b3dc9;
	border: 1px solid #000;
	box-sizing: border-box;
	margin-left: 360px;
	z-index: 2;
	align-self: end;
	margin: 0;

}
.modTxa
{
	height: 256px;
	width: 352px;
	top: 77px;
	border-radius: 5px;
	background: #fff;
	border: 2px solid lightgray;
	box-sizing: border-box;
	z-index: 2;
}

/*стили для аватарки*/

.avatar{
	top: 20px;
	right: 50px;
	position: fixed;
	width: 100px;
}
.avatar details{
	display: flex;
	flex-direction: column;
	align-items: center;
}
img{
	border: 1px solid red;
	width: 70px;
	height: 70px;
	border-radius: 50%;

}
.avatar a{
	display: block;
	border: 1px solid gray;
	text-decoration: none;
	background: white;
	color: black;
	padding: 3px;
	font-family: "Arial";
}
.avatar a:hover{
	background: black;
	color: white;
}

details > summary {
	display: flex;
	list-style: none;
	justify-content: center;
  	list-style: none;
}