.settingsBody{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; 
}
.settings{
	height: 100vh;
	width: 100%;
}
.settings__title
{
  font-family: "Arial";
  font-size: 35px;
  text-shadow: 0px 0px 10px #2707a7;
  color: #fff;
}
.settings__wraper{
	height: 100%;
	width: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	position:relative;
}


.property{
	display: flex;
	width: 50%;
	min-height: 170px;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(-135deg, #2b35d182, #2dc7aa85);
	border-radius: 15px;
}
.property__text
{
	color: white;
}
input[type=file]{
  color: white;
  width: 170px;
  padding-left: 0px;
}

.modal__bg
{
	width: 50%;
	height: 300px;
	position: absolute;
	top: 500px;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: wrap;
	background: #ffffff99;
	overflow-y: scroll;

	padding: 30px;
	box-sizing: border-box;
}

.modal__wrapper{
	width: 30%;
	position: relative;
}
.modal__img
{
	width: 100%;
	/*height: fit-content;*/
	object-fit: cover;
	border: 1px solid black;
	margin: 1%;
	transition: 0.3s;
}
.modal__img:hover{
	box-shadow: 0px 0px 5px 1px grey;
}
.modal__img:hover ~ .modal__remove{
	display: block;
}
.modal__remove{
	width: 10%;
	position: absolute;
	top: 5px;
	right: 5px;
	transition: 0.3s;
	display: none;
	cursor: pointer;
}
.modal__remove:hover{
	display: block;
	box-shadow: 0px 0px 5px 1px white;
	/*border-radius: 50%;*/
}
.modal__checked{
    width: 10%;
	position: absolute;
	top: 10px;
	left: 10px;
	transition: 0.3s;
	display: inline-block;
	opacity: 0;
}
