.settings{
	/*height: 100vh;*/
	width: 100%;
}
.settings__wraper{
	height: 100px;
	width: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
}
.property{
	display: flex;
	width: 40%;
	justify-content: space-around;
}
.modal__bg
{
	width: 50%;
	height:50vh;
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: wrap;	
	background: #ffffff99;
	overflow-y: scroll; /* прокрутка по вертикали */

}

.modal__wrapper{
	width: 30%;
	position: relative;
}
.modal__img
{
	width: 100%;
	/*height: fit-content;*/
	object-fit: cover;
	border: 1px solid black;
	margin: 1%;
	transition: 0.3s;
}
.modal__img:hover{
	box-shadow: 0px 0px 5px 1px grey;
}
.modal__img:hover ~ .modal__remove{
	display: block;
}
.modal__remove{
	width: 10%;
	position: absolute;
	top: 5px;
	right: 5px;
	transition: 0.3s;
	display: none;
	cursor: pointer;
}
.modal__remove:hover{
	display: block;
	box-shadow: 0px 0px 5px 1px white;
	/*border-radius: 50%;*/
}
.modal__checked{
    width: 10%;
	position: absolute;
	top: 10px;
	left: 10px;
	transition: 0.3s;
	display: inline-block;
	opacity: 0;
}
